/*  GOOGLE FONTS    */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*  BODY HYPERLINKS   */
    .bodyLink .recos{
        font-size:1vw;
    }
    .bodyLink{
        text-decoration:none;
        color:#676767;
        transition: color .3s, filter .3s;
    }
    .bodyLink:hover{
        text-decoration:none;
        color:rgb(255,162,0);
        transition: color .3s, filter .3s;
    }
    .bodyLink:visited{
        color:#676767;
        transition: color .3s, filter .3s;
    }
    .bodyLink:visited:hover{
        color:rgb(255,162,0);
        transition: color .3s, filter .3s;
    }
    .icon-link .bodyLink{
        width:48px;
        height:48px;
    }

/*  PERSONAL IMAGE  */
    #faceDot{
        width: 10vw;
        aspect-ratio: 1/1;
        /*height: 120px;*/
        border-radius: 50%;
        background-color: #ccc;
        background-image:url('../img/phillips.png'); 
        background-size: cover;
        background-position: center;
        border: 2px solid #ccc;
    }

/*  NAVIGATION  */

/*  HOME PAGE  */
    #mainPageBackground{
        position:absolute;
        z-index:-1;
        background-color: #000;
        width:100vw;
        height:100vh;
    }

    .headerFont{
        font-family: 'Montserrat',sans-serif;
        text-transform: uppercase;
    }

    #mainPageBackdrop{
        z-index:0;
        opacity:0;
        height: 100vh;
        width: 100vw;
        background-color:black;
        background-image: url('../_images/coffee.png');
        background-size:cover;
        background-position:center bottom;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items:center
    }
    #marqueeTitle{
            opacity:0;
            z-index:10;
            transform: translateY(-20px); /* Adjust as needed */
            margin-bottom: 20%;
            text-align: center;
            color: #fff;
    }
    #marqueeTitle span.ixAction{
        color:rgb(255, 162, 0);
    }

    #marqueeTitle h1.headerFont{
        font-family: 'Montserrat',sans-serif;
        text-transform: uppercase;
        font-size:3.8vw;
        color:#fff;
        padding:1vw 2vw;
        letter-spacing:.5vw;
        background-color:#000;
        filter: drop-shadow(#000 0rem 1rem .75rem);
        border-radius: 15px;
    }
    #marqueeTitle p{
        font-family: 'Montserrat', sans-serif;
        font-size:1vw;
        color:#ddd;
        letter-spacing: .5vw;
        text-transform: uppercase;
        filter: drop-shadow(#000 0rem 1rem .75rem);
    }

/*  BODY STYLES */
    .buffer-left{
        margin-left:3%;
    }
    .body-scale{
        width:100vw;
        min-width:100vw;
        min-height:100vh;
    }
    h2.headerFont{
        font-size:2vw;
        font-weight: 600;
        color:#646464;  
        text-align:center;
    }
    h4.headerFont{
        font-size:1.2vw;
        color:#222;
        text-align:center;
    }
    h6.headerFont{
        font-size:.9vw;
        color:#333;
        letter-spacing: 2px;
    }
    .bodyCopy{
        color:#222;
        font-family:'Montserrat',sans-serif;
        font-size:1vw;
    }
    .spacer{
        padding-left:3%;
    }
    .innerContentFrame{
        margin-left:auto;
        margin-right:auto;
        width:70%;
        padding-top:8%;
    }
    .innerContentFrame h4{
        width:100%;
        text-align:center;
    }
    
   .profileShot{
    width:94%;
    border-radius: 25px;
    border:.1rem rgb(192, 192, 192) solid;
   }
   .stackImage{
    margin-bottom:2%;
   }

/*  BIO SECTIONS    */
    #welcomeBlock{
        width:52%;
        margin-left:auto;
        margin-right:auto;
        text-align:justify;
    }
    #socials{
        margin-top:3%;
        margin-bottom: bottom 4%;
    }
    #socials a{
        color:#676767;
    }
    .centerSocial{
        padding-left:.2vw;
        padding-right:.2vw
    }
    #socials a:hover{
        color:rgb(255,162,0);
        transition: color .3s, filter .3s;
    }
    .table-frame{
        width:50%;
        margin-left:auto;
        margin-right:auto;
    
    }
    #tech-table th,td{
        text-align: left;
        width:50%;
    }    

/*  FOOTER  */
    .myFooter{
        font-family:'Montserrat', sans-serif;
        font-size:.9vw;
        color:#676767;
    }

/*  ABOUT */
    #picframe{
        width:50vw;
        padding:2%;
    }
    #picframe img{
        width:45%;
        border-radius: 15px;
        display:inline-block;
    }


    @media screen and (max-width: 900px){
        #faceDot{
            width: 12vw;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 2px solid #ccc;
        }
        #homeNav .menu a{
            font-size:1.5vw;
        }
        #homeNav .monicker a{
            font-size:2vw;
        }
        #homeNav .monicker span{
            font-size:2vw;
        }
        #marqueeTitle h1.headerFont{
            font-size:4vw;
            padding:2vw 2vw;
        }
        #marqueeTitle p{
            font-size:1.5vw;
        }
        .bodyCopy{
            font-size:1.5vw;
        }
        h4.headerFont{
            font-size:2vw;
        }
        h6.headerFont{
            font-size:1.2vw;
        }
        .myFooter{
            font-size:1.2vw;
        }
        .innerContentFrame{
            width:95%;
        }
        #welcomeBlock{
            width:95%;
        }
        #tech-table th,td{
            width:100%;
        }
        #picframe img{
            width:90%;
        }
        .table-frame{
            width:80%;
            margin-left:auto;
            margin-right:auto;
        }
        #tech-table th,td{
            text-align: left;
            width:50%;
        }  
    } /* END 900 Media Query */

    @media screen and (max-width: 600px){
        #faceDot{
            width: 32vw;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 2px solid #ccc;
        }
        #homeNav .menu a{
            font-size:2vw;
        }
        #homeNav .monicker a{
            font-size:8vw;
        }
        #homeNav .monicker span{
            font-size:8vw;
        }
        
        .mainMenu{
            display:none;
        }
        
        .microMenu{
            display:block;
        }
        .microMenu i{
            font-size:5vw;
            font-weight: 700;
        }
        .menu{
            display:inline-block;
            margin-top:2%;
            margin-right:2%;
            text-align:center;
        }
        #marqueeTitle{
            position:absolute;
            opacity:0;
            z-index:10;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            text-align: center;
            width:80%;
            color: #fff;
        }
        #marqueeTitle h1.headerFont{
            font-size:6vw;
            padding:4vw 4vw;
        }
        #marqueeTitle p{
            font-size:3.2vw;
        }
        .bodyCopy{
            font-size:3.2vw;
        }
        #welcomeBlock{
            width:86%;
            padding-bottom:2vh;
        }
        h4.headerFont{
            font-size:6vw;
        }
        h6.headerFont{
            font-size:3.2vw;
            width:80%;
            text-align:center;
            margin-left:auto;
            margin-right: auto;
        }
        .myFooter{
            font-size:3.2vw;
        }
        .innerContentFrame{
            width:95%;
        }
        #picframe img{
            width:90%;
        }
        .centerSocial{
            padding-left:1vw;
            padding-right:1vw
        }
        .table-frame{
            width:96%;
            margin-left:auto;
            margin-right:auto;
        }
        #tech-table th,td{
            text-align: left;
            width:50%;
            font-size:3vw;
        }  
        .profileShot{
            width:80%;
            margin-left:auto;
            margin-right:auto;
            display:block;
            margin-top:10%;
            margin-bottom:12%;
        }
        #myInfo{
            margin-top:10%;
        }
        #coursesPicSet{
            display:none;
        }
        #resourcesPic{
            display:none;
        }
        .innerContentFrame{
            margin-top:10% !important;
        }
    } /* END 600 Media Query */